In [2]:
import pandas as pd
import os, numpy as np
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [3]:
path = r'C:\Users\Laptop88\Desktop\OneMount\brazilian-ecommerce'

In [4]:
list_files = os.listdir(path)
list_files.sort(reverse = False)
list_files

['olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

# Khám phá dữ liệu

In [5]:
customers = pd.read_csv(path + '\\'+list_files[0])
geolocation = pd.read_csv(path + '\\'+list_files[1])
order_items = pd.read_csv(path + '\\'+list_files[2])
order_payments = pd.read_csv(path + '\\'+list_files[3])
order_reviews = pd.read_csv(path + '\\'+list_files[4])
orders = pd.read_csv(path + '\\'+list_files[5])
products = pd.read_csv(path + '\\'+list_files[6])
sellers = pd.read_csv(path + '\\'+list_files[7])
product_category_name = pd.read_csv(path + '\\'+list_files[8])
pd.set_option('display.max_columns', None)

* Bảng products

In [6]:
# Check null bảng products
products[products.isnull().any(axis=1)]
# Fill trường null cột category_name bằng "others"
products['product_category_name'] = products['product_category_name'].fillna('Others')
# Tạo bảng danh mục ID sản phẩm - mở file excel thêm trường thông tin Category để phân loại thêm
# Lấy thông tin tên tiếng anh từ bảng category cho bảng products
product_name = pd.merge(products,product_category_name, how = 'left', on = 'product_category_name')
# Check null value bảng product_name
product_name[product_name.isnull().any(axis=1)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,Category
105,a41e356c76fab66334f36de622ecbd3a,Others,NaN,NaN,NaN,650.0,17.0,14.0,12.0,Others,Others
128,d8dee61c2034d6d075997acef1870e9b,Others,NaN,NaN,NaN,300.0,16.0,7.0,20.0,Others,Others
145,56139431d72cd51f19eb9f7dae4d1617,Others,NaN,NaN,NaN,200.0,20.0,20.0,20.0,Others,Others
154,46b48281eb6d663ced748f324108c733,Others,NaN,NaN,NaN,18500.0,41.0,30.0,41.0,Others,Others
197,5fb61f482620cb672f5e586bb132eae9,Others,NaN,NaN,NaN,300.0,35.0,7.0,12.0,Others,Others
...,...,...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,Others,NaN,NaN,NaN,1800.0,30.0,20.0,70.0,Others,Others
32589,10dbe0fbaa2c505123c17fdc34a63c56,Others,NaN,NaN,NaN,800.0,30.0,10.0,23.0,Others,Others
32616,bd2ada37b58ae94cc838b9c0569fecd8,Others,NaN,NaN,NaN,200.0,21.0,8.0,16.0,Others,Others
32772,fa51e914046aab32764c41356b9d4ea4,Others,NaN,NaN,NaN,1300.0,45.0,16.0,45.0,Others,Others
32852,c4ceee876c82b8328e9c293fa0e1989b,Others,NaN,NaN,NaN,700.0,28.0,3.0,43.0,Others,Others

* Bảng customers, geolocation, sellers, orders, order_items, order_reviews, order_payments

In [7]:
# Check null bảng customers
customers[customers.isnull().any(axis=1)]
# Check unique
customers[['customer_id']].value_counts(ascending= False)
# Tương tự với các bảng còn lại

customer_id
00012a2ce6f8dcda20d059ce98491703    1
aa62a16b10e3fb24ecdefd7e4dc3fa65    1
aa738cdb72af39e38482fa25b992c67c    1
aa7210736aad65a84e964cfa8d64aa66    1
aa72002446dfbac0691304465c1b982d    1
                                   ..
5591abc9e7f9c644e7e7912aac65b718    1
5590e685a78102fb3ac27ecf07412750    1
558ea29f4c4dfd014345b6d3309549a2    1
558de2f6863bf7588338479d614522a3    1
ffffe8b65bbe3087b653a978c870db99    1
Length: 99441, dtype: int64

In [8]:
# Riêng bảng geolocation không unique theo "geolocation_zip_code_prefix", nên phương pháp lấy giá trị trung bình kinh độ và vĩ độ
# Groupby và tính trung bình tọa độ
geo_group = geolocation.groupby(['geolocation_zip_code_prefix','geolocation_city','geolocation_state']).mean().reset_index()
# Check unique cột "geolocation_zip_code_prefix"
geo_group[['geolocation_zip_code_prefix']].value_counts()
# Lấy giá trị min theo text do geolocation_city có giá trị trùng lặp chỉ khác nhau về vài kí tự dấu, và geolocation_state bị khác nhau mặc dù cùng 1 geolocation_city
geo_group = geo_group.groupby(['geolocation_zip_code_prefix'],sort=False).agg({'geolocation_city':'min','geolocation_state':'min','geolocation_lat':'mean','geolocation_lng':'mean'}).reset_index().reindex(columns=geo_group.columns)
#  Check lại unique của "geolocation_zip_code_prefix"
geo_group[['geolocation_zip_code_prefix']].value_counts()
geo_group.head()

,geolocation_zip_code_prefix,geolocation_city,geolocation_state,geolocation_lat,geolocation_lng
0,1001,sao paulo,SP,-23.550106,-46.634039
1,1002,sao paulo,SP,-23.546540,-46.634154
2,1003,sao paulo,SP,-23.549036,-46.635325
3,1004,sao paulo,SP,-23.549660,-46.634600
4,1005,sao paulo,SP,-23.549650,-46.635971

In [9]:
# Tính quãng đường theo kinh độ vĩ độ
def haversine_vectorize(lon1, lat1, lon2, lat2):
    """Returns distance, in kilometers, between one set of longitude/latitude coordinates and another"""
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
 
    newlon = lon2 - lon1
    newlat = lat2 - lat1
 
    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2
 
    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

* Bảng Orders, Order_Items

In [10]:
# Tính các bước thời gian
orders['order_purchase_approved'] = (orders['order_approved_at'].astype(np.datetime64) - orders['order_purchase_timestamp'].astype(np.datetime64))/np.timedelta64(1,'h')
orders['order_approved_delivered_carrier'] = (orders['order_delivered_carrier_date'].astype(np.datetime64) - orders['order_approved_at'].astype(np.datetime64))/np.timedelta64(1,'h')
# Tính thời gian từ lúc giao cho vận chuyển đến khi giao thành công
estimated_delivery = (orders['order_estimated_delivery_date'].astype(np.datetime64) - orders['order_delivered_carrier_date'].astype(np.datetime64))/np.timedelta64(1,'h')
real_delivery = (orders['order_delivered_customer_date'].astype(np.datetime64) - orders['order_delivered_carrier_date'].astype(np.datetime64))/np.timedelta64(1,'h')
orders['order_carrier_deliveried'] = np.where(orders['order_delivered_customer_date'].isnull(), estimated_delivery, real_delivery)
orders['total_times'] = np.where((orders['order_approved_delivered_carrier']>0) & (orders['order_carrier_deliveried']>0),orders['order_purchase_approved']+orders['order_approved_delivered_carrier']+orders['order_carrier_deliveried'],np.nan)
# Loại bỏ đơn hàng mà thời gian giao thành công sớm hơn thời gian đưa bên vận chuyển, hoặc thời gian giao vận chuyển lớn hơn thời gian đơn xác nhận
orders[(orders['order_approved_delivered_carrier']>0) & (orders['order_carrier_deliveried']>0)].describe()

,order_purchase_approved,order_approved_delivered_carrier,order_carrier_deliveried,total_times
count,96245.000000,96245.000000,96245.000000,96245.000000
mean,9.666829,68.509998,228.303336,306.480162
std,19.275455,83.669261,212.976314,232.034150
min,0.000000,0.004167,0.000278,12.801944
25%,0.214444,21.632222,99.343333,164.411111
50%,0.337778,44.418056,171.495278,248.642222
75%,13.570278,86.909722,292.768056,384.142222
max,784.045556,3018.301667,4924.583333,5031.086667

In [11]:
# Check mối quan hệ 2 bảng orders và order_items
orders['order_id'].value_counts(dropna=False, ascending=False) 
order_items['order_id'].value_counts(dropna=False, ascending=False)
# Merge bảng orders và bảng order_items bằng cột order_id
orders_items = pd.merge(orders,order_items,how = 'right',on = 'order_id')
order_item_product = pd.merge(orders_items,product_name,how = 'left',on = 'product_id')
# Merge bảng order_item_product và bảng sellers bằng cột seller_id
order_item_product_seller = pd.merge(order_item_product,sellers,how = 'left', on = 'seller_id')
order_seller_customer = pd.merge(order_item_product_seller,customers, how = 'left', on = 'customer_id')
# Tính khoảng cách giữa sellers và customers
order_seller_customer['sell_lat'] = pd.merge(order_seller_customer,geo_group,how='left',left_on='seller_zip_code_prefix',right_on='geolocation_zip_code_prefix')['geolocation_lat']
order_seller_customer['sell_lng'] = pd.merge(order_seller_customer,geo_group,how='left',left_on='seller_zip_code_prefix',right_on='geolocation_zip_code_prefix')['geolocation_lng']
order_seller_customer['cus_lat'] = pd.merge(order_seller_customer,geo_group,how='left',left_on='customer_zip_code_prefix',right_on='geolocation_zip_code_prefix')['geolocation_lat']
order_seller_customer['cus_lng'] = pd.merge(order_seller_customer,geo_group,how='left',left_on='customer_zip_code_prefix',right_on='geolocation_zip_code_prefix')['geolocation_lng']
order_seller_customer['dist'] = haversine_vectorize(order_seller_customer.sell_lat, order_seller_customer.sell_lng, 
                                                     order_seller_customer.cus_lat, order_seller_customer.cus_lng)
order_seller_customer['avg_time_per_dist'] = order_seller_customer['total_times']/order_seller_customer['dist']
# Tính tổng chi phí
order_seller_customer['cost'] = order_seller_customer['price']+order_seller_customer['freight_value']
order_seller_customer[order_seller_customer['avg_time_per_dist'].isnull()].head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_approved,order_approved_delivered_carrier,order_carrier_deliveried,total_times,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,Category,seller_zip_code_prefix,seller_city,seller_state,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,sell_lat,sell_lng,cus_lat,cus_lng,dist,avg_time_per_dist,cost
7,000576fe39319847cbb9d288c5617fa6,9ed5e522dd9dd85b4af4a077526d8117,delivered,2018-07-04 12:08:27,2018-07-05 16:35:48,2018-07-05 12:15:00,2018-07-09 14:04:07,2018-07-25 00:00:00,28.455833,-4.346667,97.818611,NaN,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,ferramentas_jardim,39.0,1310.0,3.0,13805.0,35.0,75.0,45.0,garden_tools,Home,19010,presidente prudente,SP,fda4476abb6307ab3c415b7e6d026526,11702,praia grande,SP,-22.122735,-51.386369,-24.014395,-46.438358,566.886034,NaN,880.75
56,002175704e8b209f61b9ad5cfd92b60e,a562db3c7cb9a68947debd30879b491e,delivered,2018-04-22 12:13:25,2018-04-24 17:24:48,2018-04-23 19:03:19,2018-05-02 20:38:44,2018-05-14 00:00:00,53.189722,-22.358056,217.590278,NaN,1,e6b6e13cf71449a457269f425b89dc74,b2ba3715d723d245138f291a6fe42594,2018-04-26 12:30:57,109.90,13.21,audio,38.0,2887.0,1.0,588.0,19.0,14.0,17.0,audio,Entertainment,3470,sao paulo,SP,e7d41c19da317af0612170197303d5a9,14802,araraquara,SP,-23.568994,-46.522437,-21.772226,-48.180222,228.538951,NaN,123.11
67,002834535f7a609a5c68266f173fa59e,89a6b1bfbe1b366503995b8df4c49450,delivered,2018-07-23 17:26:00,2018-07-28 23:30:59,2018-07-24 15:53:00,2018-08-11 01:48:33,2018-08-14 00:00:00,126.083056,-103.633056,417.925833,NaN,1,df3655ac9aa8c6cbfa63bdd8d3b09c50,ea8482cd71df3c1969d7b9473ff13abc,2018-07-26 17:44:36,37.99,19.18,telefonia,58.0,549.0,3.0,300.0,17.0,4.0,12.0,telephony,Accessories,4160,sao paulo,SP,457626c51309d814c33966c88a161545,52041,recife,PE,-23.625520,-46.611898,-8.034194,-34.894814,1842.281348,NaN,57.17
84,00310b0c75bb13015ec4d82d341865a4,0dad07848c618cc5a4679a1bfe1db8d2,canceled,2018-08-15 14:29:08,2018-08-15 15:04:25,NaN,NaN,2018-08-29 00:00:00,0.588056,NaN,NaN,NaN,1,c8e7c2ef329fcda4a233e7e2f8bb8b7d,a2deecd5398f5df4987110c80a1972a3,2018-08-17 15:04:25,39.90,15.38,utilidades_domesticas,58.0,1245.0,1.0,200.0,16.0,12.0,11.0,housewares,Home,5043,sao paulo,SP,ec979208947bbba310f2ad8e50963725,31160,belo horizonte,MG,-23.525769,-46.691768,-19.878923,-43.931505,418.606384,NaN,55.28
118,004345d16a1ab2c21962992c721c8643,3b723b649feb48f3cfbb9c728efb3d7d,delivered,2018-07-04 06:45:05,2018-07-05 16:09:18,2018-07-05 14:08:00,2018-07-11 17:26:37,2018-07-30 00:00:00,33.403611,-2.021667,147.310278,NaN,1,d0fb1e667e989933a80444f93da833c0,0be8ff43f22e456b4e0371b2245e4d01,2018-07-10 07:31:33,37.90,15.37,utilidades_domesticas,47.0,390.0,3.0,525.0,18.0,19.0,16.0,housewares,Home,4461,sao paulo,SP,8c07068e51d745035b296ebc1c8cd16a,72914,aguas lindas de goias,GO,-23.690940,-46.679675,-15.726302,-48.277261,623.643030,NaN,53.27

In [12]:
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [13]:
order_reviews.head()
# Có đơn hàng không ghi nhận ID ở bảng order_items

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [14]:
order_reviews['review_answer_timestamp'] = pd.to_datetime(order_reviews['review_answer_timestamp'].astype(np.datetime64))
order_reviews['review_creation_date'] = pd.to_datetime(order_reviews['review_creation_date'].astype(np.datetime64))
order_reviews.head()
order_reviews.to_csv('order_reviews.csv', index=False)

# Báo cáo doanh số

In [15]:
order_seller_customer.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_purchase_approved', 'order_approved_delivered_carrier',
       'order_carrier_deliveried', 'total_times', 'order_item_id',
       'product_id', 'seller_id', 'shipping_limit_date', 'price',
       'freight_value', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english', 'Category', 'seller_zip_code_prefix',
       'seller_city', 'seller_state', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'sell_lat', 'sell_lng', 'cus_lat', 'cus_lng', 'dist',
       'avg_time_per_dist', 'cost'],
      dtype='object')

In [16]:
# fig = make_subplots(rows=1, cols=2, specs=[[{"type": "pie"}, {"type": "pie"}]])
rev_city = order_seller_customer.groupby(['customer_city']).sum()[['cost']].reset_index()

# fig.add_trace(go.Pie(values=rev_city['cost'],labels= rev_city['customer_city']),
#               row=1, col=1)

# fig.add_trace(go.Pie(values=rev_city['cost'],labels= rev_city['customer_city']),
#               row=1, col=2)
# fig.add_trace(go.Pie(
#      values=[16, 15, 12, 6, 5, 4, 42],
#      labels=["US", "China", "European Union", "Russian Federation",
#              "Brazil", "India", "Rest of World"
#              ],
#      domain=dict(x=[0, 0.5]),
#      name="GHG Emissions"), 
#      row=1, col=1)

# fig.add_trace(go.Pie(
#      values=[27, 11, 25, 8, 1, 3, 25],
#      labels=["US", "China", "European Union", "Russian Federation",
#              "Brazil", "India", "Rest of World"
#              ],
#      domain=dict(x=[0.5, 1.0]),
#      name="CO2 Emissions"),
#     row=1, col=2)

# fig.update_layout(height=600, width=600,
#                   title_text="Multiple Subplots with Shared Y-Axes")
# fig.show()
rev_city

            customer_city     cost
0     abadia dos dourados   413.50
1               abadiania  1025.52
2                  abaete  1946.81
3              abaetetuba  4672.27
4                 abaiara   332.15
...                   ...      ...
4105             xinguara  1608.51
4106          xique-xique   230.56
4107             zacarias   229.85
4108              ze doca   878.92
4109               zortea   137.57

[4110 rows x 2 columns]

In [17]:
order_seller_customer['cost'].tolist()

[72.19,
 259.83,
 216.87,
 25.78,
 218.04000000000002,
 34.589999999999996,
 31.75,
 880.75,
 157.6,
 65.39,
 68.87,
 57.980000000000004,
 97.32,
 63.269999999999996,
 63.269999999999996,
 127.55000000000001,
 650.34,
 152.77,
 112.71000000000001,
 41.11,
 56.78,
 33.839999999999996,
 164.39,
 64.1,
 65.5,
 236.88,
 315.33,
 135.41,
 35.839999999999996,
 137.22,
 421.65,
 83.25,
 36.43,
 36.43,
 36.43,
 30.6,
 37.0,
 55.11,
 70.55,
 853.39,
 113.71,
 79.85,
 42.519999999999996,
 42.519999999999996,
 42.519999999999996,
 62.54,
 95.0,
 112.71000000000001,
 26.77,
 26.77,
 55.12,
 87.9,
 213.21,
 51.099999999999994,
 100.55,
 45.089999999999996,
 123.11000000000001,
 91.39,
 33.18,
 193.01,
 34.089999999999996,
 419.39,
 156.75,
 120.43,
 164.8,
 293.35999999999996,
 68.12,
 57.17,
 45.3,
 135.59,
 514.37,
 113.44,
 109.45,
 265.55,
 119.57000000000001,
 86.9,
 86.9,
 169.84,
 284.13,
 77.28999999999999,
 41.56,
 52.06,
 78.27000000000001,
 292.24,
 55.28,
 110.07,
 186.19,
 117.35000000000001,
 117.35000000000001,
 80.78999999999999,
 177.01000000000002,
 69.84,
 69.84,
 261.33,
 67.34,
 99.11,
 150.44,
 34.0,
 203.03000000000003,
 423.63,
 52.85,
 87.58,
 87.58,
 203.23000000000002,
 134.28,
 57.98,
 97.9,
 228.89,
 312.74,
 94.74,
 64.85,
 102.03,
 102.03,
 238.8,
 99.9,
 119.29,
 222.91,
 56.78,
 53.269999999999996,
 196.07,
 130.74,
 110.41000000000001,
 137.72,
 15.57,
 265.96000000000004,
 18.560000000000002,
 67.5,
 118.35,
 60.85,
 221.08,
 147.39,
 33.480000000000004,
 138.6,
 92.74,
 143.92000000000002,
 109.89,
 109.89,
 42.29,
 42.29,
 42.29,
 42.29,
 189.37,
 37.09,
 194.91,
 194.91,
 122.17,
 114.9,
 133.75,
 89.28,
 61.379999999999995,
 110.84,
 68.11,
 38.57,
 38.57,
 136.7,
 86.15,
 93.92,
 180.21,
 556.22,
 221.07,
 23.17,
 55.75,
 226.28,
 54.06,
 489.85,
 75.17,
 51.69,
 51.69,
 113.42999999999999,
 91.79,
 250.79000000000002,
 70.14,
 81.97999999999999,
 57.68,
 21.39,
 43.1,
 142.06,
 529.35,
 52.64,
 163.06,
 192.44,
 234.89000000000001,
 137.16,
 152.71,
 47.96,
 168.83,
 336.38,
 57.29,
 162.85,
 83.59,
 195.0,
 43.0,
 55.11,
 21.1,
 279.7,
 117.85000000000001,
 85.14,
 113.03,
 184.03,
 69.72,
 269.63,
 62.65,
 149.69,
 54.129999999999995,
 33.120000000000005,
 112.0,
 99.44,
 70.88,
 146.84,
 25.22,
 25.22,
 62.65,
 207.74,
 157.34,
 286.09000000000003,
 65.55,
 45.53,
 96.62,
 142.96,
 118.47,
 114.25,
 25.87,
 18.919999999999998,
 309.4,
 104.78999999999999,
 62.66,
 180.37,
 146.18,
 94.66,
 70.59,
 168.68,
 339.16,
 176.4,
 165.03,
 58.22,
 58.22,
 62.82,
 143.24,
 32.0,
 45.089999999999996,
 65.14,
 100.33,
 194.12,
 57.72,
 168.35000000000002,
 291.43,
 32.64,
 61.77,
 23.38,
 36.35,
 201.99,
 59.33,
 112.46000000000001,
 112.46000000000001,
 112.46000000000001,
 117.42,
 196.4,
 47.09,
 69.9,
 122.17,
 75.29,
 125.41000000000001,
 48.379999999999995,
 46.53,
 35.36,
 644.34,
 123.47,
 56.32,
 147.26,
 68.25,
 37.16,
 90.73,
 51.75,
 122.87,
 49.12,
 49.12,
 159.69,
 216.51,
 165.91,
 67.58,
 28.880000000000003,
 48.01,
 50.59,
 173.49,
 59.25,
 71.19,
 71.05,
 238.66,
 238.66,
 92.97,
 65.31,
 56.5,
 39.089999999999996,
 149.01,
 97.86999999999999,
 84.69,
 181.3,
 228.6,
 181.3,
 181.3,
 112.62,
 85.8,
 34.28,
 137.83,
 139.98,
 52.39,
 469.39,
 156.45999999999998,
 156.45999999999998,
 31.38,
 46.69,
 55.0,
 72.07,
 266.69,
 39.39,
 128.35,
 94.55000000000001,
 39.089999999999996,
 92.91,
 77.57,
 35.0,
 173.2,
 1075.74,
 124.9,
 387.57,
 56.29,
 30.09,
 30.09,
 30.09,
 30.09,
 144.03,
 126.74000000000001,
 189.37,
 34.0,
 69.07,
 334.68,
 74.49,
 45.099999999999994,
 90.17,
 74.69,
 179.0,
 80.29,
 85.08000000000001,
 85.08000000000001,
 872.52,
 32.839999999999996,
 33.97,
 94.12,
 94.12,
 80.23,
 138.16,
 203.67000000000002,
 347.56,
 130.88,
 48.7,
 48.7,
 379.2,
 144.22,
 203.67000000000002,
 134.57,
 118.82,
 94.3,
 86.55,
 437.59,
 322.17,
 194.32999999999998,
 64.0,
 56.75,
 56.75,
 54.32,
 175.77,
 151.93,
 58.7,
 146.87,
 108.32,
 49.1,
 106.97,
 187.96,
 61.01,
 98.26,
 63.269999999999996,
 76.17,
 89.96,
 84.78999999999999,
 288.88,
 101.34,
 44.33,
 44.33,
 44.33,
 44.33,
 101.25,
 47.67,
 86.22,
 156.33,
 54.61,
 94.65,
 285.81,
 221.07,
 231.79,
 54.44,
 54.44,
 54.44,
 64.42,
 80.67,
 58.349999999999994,
 58.349999999999994,
 58.349999999999994,
 163.77,
 60.94,
 166.62,
 89.61000000000001,
 40.760000000000005,
 28.689999999999998,
 28.689999999999998,
 30.95,
 24.009999999999998,
 104.10999999999999,
 50.34,
 35.85,
 150.02,
 206.09,
 206.09,
 170.15,
 309.29,
 145.13,
 58.61,
 19.85,
 94.9,
 93.85,
 265.36,
 116.61000000000001,
 193.53,
 219.12,
 108.86000000000001,
 132.04999999999998,
 155.05,
 36.71,
 56.15,
 56.15,
 56.15,
 56.15,
 56.12,
 44.69,
 300.54999999999995,
 30.130000000000003,
 119.48,
 66.67,
 66.67,
 74.41,
 128.65,
 97.43,
 54.0,
 262.24,
 458.94,
 47.72,
 251.59,
 691.49,
 71.84,
 71.84,
 144.63,
 144.29,
 186.1,
 64.44,
 64.44,
 37.86,
 84.6,
 86.7,
 112.13,
 43.0,
 207.98,
 411.63,
 136.45999999999998,
 42.089999999999996,
 69.69,
 104.96000000000001,
 920.2,
 137.28,
 296.71000000000004,
 74.16,
 297.2,
 265.98,
 54.32,
 54.32,
 99.9,
 23.28,
 126.26,
 23.1,
 258.25,
 30.1,
 46.78,
 217.4,
 70.83,
 74.28,
 117.08000000000001,
 31.299999999999997,
 35.56,
 126.46000000000001,
 87.83,
 87.83,
 62.379999999999995,
 202.87,
 519.16,
 114.84,
 94.83,
 33.32,
 58.55,
 58.61,
 58.61,
 53.9,
 53.9,
 37.089999999999996,
 112.89,
 58.870000000000005,
 65.1,
 72.35000000000001,
 97.22,
 92.80000000000001,
 42.07,
 1901.62,
 30.509999999999998,
 254.7,
 128.45999999999998,
 413.31,
 107.78,
 107.78,
 99.35,
 37.16,
 76.86999999999999,
 90.73,
 108.19999999999999,
 122.97,
 21.77,
 20.28,
 20.28,
 46.31,
 27.86,
 86.35,
 112.35,
 178.21,
 116.94,
 32.61,
 37.089999999999996,
 204.07,
 123.01,
 74.63,
 156.64000000000001,
 46.72,
 201.57999999999998,
 201.57999999999998,
 111.89,
 31.709999999999997,
 46.72,
 523.72,
 39.1,
 78.21,
 78.21,
 78.21,
 78.21,
 17.38,
 17.38,
 17.38,
 17.38,
 17.38,
 151.14000000000001,
 37.88,
 38.14,
 158.75,
 135.62,
 42.69,
 42.69,
 28.5,
 94.3,
 148.24,
 45.77,
 94.3,
 240.41,
 32.589999999999996,
 189.09,
 164.61,
 225.19,
 647.54,
 167.45,
 23.78,
 242.11,
 31.22,
 121.87,
 44.3,
 168.27,
 69.16,
 319.44,
 237.98000000000002,
 237.98000000000002,
 61.989999999999995,
 125.44,
 83.15,
 124.80000000000001,
 47.6,
 22.78,
 246.36,
 89.75,
 37.769999999999996,
 235.13,
 67.77,
 127.87,
 162.55,
 158.20000000000002,
 161.68,
 112.08,
 321.58,
 321.58,
 147.64000000000001,
 415.96,
 60.85,
 146.57,
 71.05,
 62.19,
 52.78,
 37.769999999999996,
 103.42,
 95.02,
 37.230000000000004,
 42.77,
 81.16,
 103.75,
 84.32000000000001,
 243.11,
 163.81,
 46.0,
 48.69,
 81.7,
 127.75,
 53.68,
 51.11,
 51.11,
 75.07,
 69.24,
 57.19,
 57.19,
 14.89,
 14.89,
 105.23,
 92.24000000000001,
 40.269999999999996,
 87.30000000000001,
 64.14,
 251.29000000000002,
 185.86,
 67.5,
 33.989999999999995,
 33.989999999999995,
 173.74,
 62.31,
 212.25,
 30.0,
 72.14,
 91.16,
 47.760000000000005,
 47.760000000000005,
 60.01,
 48.209999999999994,
 65.84,
 109.4,
 148.99,
 168.97,
 75.08,
 208.0,
 114.65,
 168.36,
 167.86,
 153.07,
 445.57000000000005,
 445.57000000000005,
 267.93,
 170.29000000000002,
 56.97,
 209.49,
 114.84,
 85.57,
 596.95,
 72.75,
 421.60999999999996,
 58.0,
 378.90999999999997,
 188.4,
 163.24,
 163.13,
 65.71000000000001,
 55.04,
 101.0,
 368.52,
 83.69000000000001,
 133.95000000000002,
 113.71,
 54.32,
 54.32,
 267.99,
 167.81,
 107.41000000000001,
 167.23,
 66.11,
 764.52,
 78.78,
 603.5,
 603.5,
 603.5,
 118.73,
 198.10000000000002,
 207.25,
 314.34000000000003,
 177.24,
 20.61,
 213.59,
 207.73999999999998,
 50.09,
 58.0,
 79.35,
 79.35,
 54.37,
 122.62,
 21.15,
 327.28,
 55.6,
 103.69,
 499.69,
 148.51000000000002,
 97.93,
 97.93,
 129.73,
 194.97,
 66.16,
 69.68,
 76.66,
 121.09,
 95.31,
 129.76,
 87.18,
 125.52,
 48.870000000000005,
 55.0,
 64.77,
 42.78,
 59.239999999999995,
 651.56,
 162.82,
 135.51,
 59.120000000000005,
 226.56,
 226.56,
 226.56,
 69.31,
 69.31,
 67.43,
 176.36,
 52.589999999999996,
 121.39999999999999,
 36.15,
 37.089999999999996,
 37.089999999999996,
 384.66,
 172.62,
 102.03,
 102.03,
 110.83,
 32.69,
 352.98,
 31.700000000000003,
 135.59,
 127.92,
 95.64,
 33.0,
 71.8,
 257.43,
 87.84,
 96.7,
 54.120000000000005,
 62.41,
 24.68,
 300.99,
 76.75999999999999,
 27.77,
 106.87,
 427.11,
 427.11,
 145.2,
 46.95,
 53.54,
 106.06,
 106.06,
 85.24,
 38.5,
 138.78,
 88.26,
 122.62,
 33.0,
 376.28999999999996,
 34.69,
 89.62,
 247.74,
 47.54,
 149.1,
 31.880000000000003,
 67.21000000000001,
 273.88,
 166.10999999999999,
 91.23,
 61.589999999999996,
 169.76000000000002,
 84.78,
 45.01,
 173.53,
 88.97,
 105.64,
 105.64,
 170.02,
 141.28,
 48.7,
 57.5,
 57.5,
 186.62,
 23.87,
 130.94,
 65.99,
 201.04000000000002,
 96.11999999999999,
 110.69,
 61.75,
 61.75,
 67.83,
 33.1,
 37.82,
 64.09,
 32.379999999999995,
 32.379999999999995,
 163.78,
 39.15,
 61.0,
 116.36000000000001,
 303.10999999999996,
 64.92999999999999,
 151.92000000000002,
 63.64,
 43.86,
 133.12,
 67.22,
 96.65,
 233.13,
 165.3,
 74.49,
 114.78999999999999,
 68.19,
 56.38,
 220.49,
 87.62,
 344.7,
 87.64,
 45.0,
 66.25,
 51.629999999999995,
 137.27,
 218.91,
 66.06,
 45.0,
 108.73,
 58.379999999999995,
 119.18,
 1342.63,
 128.89,
 42.97,
 48.62,
 66.64,
 66.64,
 58.370000000000005,
 42.269999999999996,
 1826.34,
 74.67,
 71.82,
 20.45,
 26.29,
 47.29,
 116.74,
 51.81,
 90.36,
 157.65,
 293.98,
 213.3,
 143.98,
 40.88,
 163.79,
 76.38,
 21.41,
 112.34,
 344.32,
 112.89,
 579.35,
 117.35,
 117.35,
 117.35,
 39.1,
 58.239999999999995,
 58.239999999999995,
 118.83000000000001,
 159.06,
 77.53,
 91.53,
 117.85000000000001,
 155.99,
 155.99,
 50.01,
 260.73,
 260.73,
 188.94,
 66.03,
 97.08,
 534.36,
 51.089999999999996,
 51.089999999999996,
 51.089999999999996,
 61.800000000000004,
 40.089999999999996,
 48.69,
 49.629999999999995,
 97.26,
 68.87,
 37.0,
 61.519999999999996,
 1017.63,
 59.87,
 62.980000000000004,
 112.09,
 113.72,
 120.82,
 105.66,
 52.39,
 112.71000000000001,
 70.04,
 106.38,
 43.61,
 43.17,
 86.02,
 118.23,
 648.77,
 171.08,
 54.14,
 146.13,
 47.75,
 106.53,
 163.65,
 69.59,
 84.69,
 133.24,
 55.459999999999994,
 129.66,
 326.62,
 75.17,
 82.84,
 112.09,
 111.49000000000001,
 102.25,
 171.44,
 162.75,
 19.64,
 54.29,
 113.05,
 56.839999999999996,
 85.74,
 223.99,
 163.98,
 101.03,
 189.06,
 135.49,
 85.52000000000001,
 34.959999999999994,
 34.959999999999994,
 310.73999999999995,
 363.71999999999997,
 133.03,
 132.23000000000002,
 368.75,
 130.01,
 46.2,
 61.01,
 135.07999999999998,
 173.88,
 203.02,
 35.449999999999996,
 114.02000000000001,
 371.22999999999996,
 44.089999999999996,
 44.089999999999996,
 76.17,
 73.15,
 73.15,
 97.21000000000001,
 56.78,
 199.79,
 199.79,
 54.550000000000004,
 521.31,
 107.06,
 110.82,
 ...]